<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="eu.lighthouselabs.obd.reader"
     android:versionCode="10"
     android:versionName="1.3">
      
    <uses-sdk 
        android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name" 
        android:icon="@drawable/ic_launcher" >
        <activity 
            android:name=".activity.MainMenuActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Contains OBDLink stuff -->
        <activity 
            android:name=".activity.MainActivity"
        	android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" >
        </activity>
        <!-- Built-in to application -->
        <activity 
            android:name=".activity.ConfigActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".activity.UsageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- For Profiling (Sid) -->
        <activity 
            android:name=".activity.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- For Camera connection -->
        <activity 
            android:name=".activity.StreamActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Contains Text to Talk -->
        <activity 
            android:name=".activity.AlertActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- For Camera connection -->
        <activity 
            android:name=".activity.ClientThread"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
		<service android:name=".io.ObdGatewayService" android:exported="false"/>
		<service android:enabled="true" android:name="TestService" />
    </application>

</manifest> 
